#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #f5bb0d;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  padding-left: 0.5rem;
  border-radius: 3px;
  color: black;
  background-color: #f5bb0d;
  border: 1px rgb(0, 0, 0) solid;
  border-bottom: 3px rgb(216, 142, 5) solid;
  transition: 0.6s;
}

#navbar input:focus,
#navbar input:hover {
  outline: 2px orange solid;
  background-color: transparent;
  color: #f5bb0d;
  border-bottom: 3px black solid;
}
#navbar input:focus::placeholder,
#navbar input:hover::placeholder {
  color: #f5bb0d;
  opacity: 75%;
}
::placeholder {
  color: black;
  opacity: 75%;
}

#navbar a {
  color: #f5bb0d;
  transition: 0.6s;
}
#navbar i {
  vertical-align: middle;
  padding: 5px;
}
#navbar a:hover {
  color: orange;
}

#navbar form button {
  background-color: #f5bb0d;
  border: 2px solid #f5bb0d;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.6s;
}

#navbar form button:hover {
  background-color: transparent;
  color: #f5bb0d;
}
